body {
  padding-top: 3em;
}
.mission-statement {
  padding: 3em 1.5rem;
  text-align: center;
}


header.banner {
  min-height: 250px;
  padding-top: 0;
  padding-bottom: 0;

  background-image: url(../images/BusinessScrabbleMedium.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: grey;
}

navbar-brand img {
  max-height: 50px;
}